<tc-viewport>
  <tc-container size="sm">
    <t-row>
      <t-col>
        <h1>A couple of principles</h1>
        <p>
          The Component-Based architecture was one of the best things that
          happened to front-end development in the last years. But little by
          little, those early and simple components have started to give
          place to truly complex ones. Unfortunately, the initial happiness
          is getting lost as we realize those components are no longer fun as
          they used to be. Taslonic is an alternative to complexity-first 
          component libraries.
        </p>
      </t-col>
    </t-row>
  </tc-container>
  <tc-section>
    <tc-container size="sm">
      <t-row>
        <t-col>
          <h3>Inspired by the HTML</h3>
          <p>
            The simplicity of the HTML is lovely. HTML is declarative and easy
            to understand. A lot of libraries forget these traits. They bother
            developers who use them with a lot of unnecessary warnings. They
            warn you whether your property type is wrong or its value is not
            valid. Taslonic thinks differently. Taslonic considers this extra
            layer of complexity (for just building trouble) worthless. What 
            happens if you put the href attribute in a button tag when writing 
            plain HTML? Nothing. So does Taslonic. Inspired by HTML, not by
            the latest tech trends.
          </p>
        </t-col>
      </t-row>
      <t-row offset="6">
        <t-col>
          <h3>Productivity over aesthetics</h3>
          <p>
            The term "component library" might be understood as something that
            helps you get a pretty-look-interface without having to write a lot of
            CSS styles on your own. Even though Taslonic includes some CSS
            styles, they're only the bare minimum to make components work. The
            purpose is to leverage productivity, not following the fashion.
            Nobody likes to write tons of code to validate a form or to handle 
            components with dinamic visibility. Productivity first, aesthetics later.
          </p>
        </t-col>
      </t-row>
    </tc-container>
  </tc-section>
  <tc-container size="sm">
    <t-row offset="3">
      <t-col>
        <h2>Are you in?</h2>
        <p>
          If you’re looking for tech-trends or fashion-driven interfaces,
          Taslonic is not the right tool for you. But if you think a custom
          component tag should be as simple to use as any native HTML tag,
          you’re very welcome to get started.
        </p>
      </t-col>
    </t-row>
    <t-row>
      <t-col sm="4">
        <t-button
          tag="a"
          theme="primary"
          href="/installation"
          block>
          Get Started
        </t-button>
      </t-col>
    </t-row>
  </tc-container>
</tc-viewport>
