<tc-viewport>
  <tc-container size="sm">
    <t-row>
      <t-col>
        <h1>A couple of principles</h1>
        <p>
          The component-based architecture was one of the awesome things that
          happen to the front-end development in the last years. But little by
          little, those early and simple components have started to give place
          to truly complex ones. The initial awesomeness is sadly getting lost
          as we see that components are no longer fun as they used to be.
          Taslonic aims to radically change this.
        </p>
      </t-col>
    </t-row>
    <t-row offset="6">
      <t-col>
        <h3>Inspired by the HTML</h3>
        <p>
          The simplicity of the HTML is lovely. It’s declarative and easy to
          understand. A lot of libraries forget these traits. They bother
          developers who use them with a lot of unnecessary warnings. They
          warn you whether your property type is wrong or its value is not
          valid. Taslonic thinks differently. Taslonic considers this extra
          amount of time to just build trouble worthless. What happens if you
          put a href attribute in a button tag when writing plain HTML?
          Nothing. So does Taslonic. Inspired  by HTML, not by any fashion.
        </p>
      </t-col>
    </t-row>
    <t-row offset="3">
      <t-col>
        <h3>Productivity over aesthetic</h3>
        <p>
          A lot of people think component libraries as something that will
          help them to deliver fancy interfaces faster than having to code
          those styles on their own. Although Taslonic includes some styles,
          it’s only the bare minimum to make components work. The focus is on
          components that leverage productivity. Nobody likes to write tons
          of code to validate a form. Nobody likes to write uncountable
          conditions to toggle the visibility of dynamic components. Productivity
          first, aesthetic later.
        </p>
      </t-col>
    </t-row>
  </tc-container>
</tc-viewport>
