<tc-viewport hideTopbar>
  <tc-home-hero />
  <article>
    <tc-container size="lg">
      <t-row offset="10">
        <t-col align-sm="center">
          <h2 id="learn-more">
            Your time is precious. Use it wisely.
          </h2>
        </t-col>
      </t-row>
      <t-row offset="5" align="center">
        <t-col sm="8" md="6">
          <p>
            When building a front-end application, ordinary tasks may take 
            much of your time. Creating and validating forms, fetching 
            data, and handling error and success messages aren’t that 
            exciting activities.
          </p>
          <p>
            Those ordinary tasks become tedious labor very quickly. 
            They take quite some time to implement. And having to 
            invest a significant share of time on joyless jobs 
            unlikely leads to surprising returns. The truth is: whereas 
            cars are going driverless, front-enders still forget to 
            focus on a required field that prevents someone from 
            submitting a form.
          </p>
          <p>
            Have you ever imagined what if form controls had an 
            attribute called validations that could validate themselves 
            automatically on form submission? What if success message was 
            just one more attribute accepted by the form tag? Have you 
            ever wished a form was smart enough to control the 
            visibility of a loader? This is what a glorious library 
            does for you.
          </p>
          <p>
            Taslonic is glorious, not because it reinvents how a select 
            works, nor because it will make your interface trendy. But 
            because it vanishes away dull tasks, freeing you to invest 
            most of your time in chasing delightful outcomes.
          </p>
        </t-col>
      </t-row>
      <t-row offset="10">
        <t-col>
          <tc-feature-card-list />
        </t-col>
      </t-row>
    </tc-container>
  </article>
</tc-viewport>
