<tc-container>
  <t-row>
    <t-col>
      <tc-logo />
    </t-col>
  </t-row>
  <t-row offset="8">
    <t-col>
      <h1>
        Develop calmly.
      </h1>
    </t-col>
  </t-row>
  <t-row>
    <t-col>
      <p>
        Component-based architecture was one of the awesome things that happen
        to the front-end development in the last years. But little by little,
        those early and simple components have started to give place to truly
        complex ones. The initial awesomeness is sadly getting lost as we see
        that components are no longer fun as they used to be.
      </p>
      <p>
        Taslonic is a set of declarative components that aims to radically
        change this. A custom component tag should be as simple as any
        native tag. It’s a matter of respect for the true spirit of the web.
        Also, Taslonic comes in with a shining and live documentation where you
        can try what we mean in practice.
      </p>
      <p>
        It’s still in progress, but you can check and collaborate with it. Are
        you hooked? Spread the word and help us make the <em>
        component-as-simple-as-native-html</em> movement stronger.
      </p>
    </t-col>
  </t-row>
  <t-row offset="4">
    <t-col sm="6">
      <t-button
        tag="a"
        theme="primary"
        href="https://components.taslonic.com"
        target="_blank"
        blocked>
        Components
      </t-button>
    </t-col>
    <t-col sm="6">
      <t-button
        tag="a"
        theme="secondary"
        href="https://github.com/glorious-codes/glorious-taslonic"
        target="_blank"
        blocked>
        Github
      </t-button>
    </t-col>
  </t-row>
</tc-container>
