@import url('https://rsms.me/inter/inter.css');
@require '_variables'

html,
body
  margin 0
  color $color-darkest
  font-size 16px
  font-family $font-family-primary
  font-weight 300

h1, h2, h3, h4, h5, h6
  margin 0
  font-weight bold
  & + p
    margin-top 20px

h1
  font-size $font-size-xxl
  letter-spacing -1px

h2
  scroll-margin-top 50px

p
  margin 0
  line-height 1.5
  & + p,
  & + .tc-code
    margin-top 20px

a
  white-space nowrap

pre
  margin 0
