@require '_variables'

.tc-code
  .hljs
    display block
    padding 20px
    background-color $color-grey-lighter
    font-size $font-size-xs
    border-radius 12px
    box-sizing border-box
    overflow-x auto
  & + p,
  & + .tc-code
    margin-top 20px
