@require '_mixins'

.tc-feature-card-list
  display grid
  grid-template-columns 1fr
  grid-gap 50px
  margin 0
  padding 0
  list-style-type none

+breakpoint('md')
  .tc-feature-card-list
    display grid
    grid-template-columns 1fr 1fr 1fr

+breakpoint('lg')
  .tc-feature-card-list
    grid-gap 100px
