@require '_mixins'

.tc-feature-icon
  display inline-block
  width 160px
  height 160px
  background-position bottom center
  background-repeat no-repeat
  background-size 100% 100%
  &.tc-feature-icon-balloons
    background-image('balloons.svg')
  &.tc-feature-icon-cogs
    background-image('cogs.svg')
  &.tc-feature-icon-lamp
    background-image('lamp.svg')
  &.tc-feature-icon-scan
    background-image('scan.svg')
  &.tc-feature-icon-palette
    background-image('palette.svg')
  &.tc-feature-icon-locker
    background-image('locker.svg')
