@require '_variables'

.tc-footer
  margin 100px 0 0
  padding 30px
  background-color $color-grey-lighter
  color $color-grey-dark
  font-size $font-size-xs
  text-align center
  box-sizing border-box
