@require '_variables'
@require '_mixins'

$color-action = #BDFFFF
$color-action-shadow = #405CFF

.tc-home-hero
  background rgb(255,255,255)
  background linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%, $color-purple 50%)
  overflow hidden
  .tc-topbar-content
    max-width 800px
    background-color $color-lightest
  .tc-logo
      img
        width 100px

.tc-home-hero-content
  position relative
  display flex
  justify-content center
  flex-direction column
  margin 0 auto
  padding 0 20px
  max-width 800px
  height 450px
  background-color $color-purple
  color $color-lightest
  text-align center
  h1
    font-size 28px
    letter-spacing -1px
  p
    margin-top 30px

.tc-home-hero-curve
  position absolute
  top 0
  left -190px
  width 190px
  height 450px
  path
    fill $color-purple

.tc-home-hero-actions
  display flex
  flex-direction column
  margin-top 45px
  width 100%
  z-index 1
  .tc-link a,
  .t-button
    display inline-block
    border-radius 20px
  .tc-link
    a
      min-width 100px
      padding 11px
      color $color-action
      font-size $font-size-xs
      font-weight bold
      text-align center
      text-decoration none
      line-height $font-size-sm
      border-width 1px
      border-style solid
      border-color $color-action
      box-shadow 0 0 0 $color-action-shadow
      transition all 300ms
      &:hover,
      &:focus,
      $:active
        background-color alpha($color-purple-dark, .25)
        color $color-lightest
        box-shadow 0 10px 15px $color-action-shadow
        border-color $color-lightest
        outline 0

.tc-home-hero-primary-action
  &.tc-link
    width 100%
    a
      width 100%
      background-color $color-action
      color $color-purple
      border-color $color-action
      box-shadow 0 0 0 $color-action-shadow
      transition all 300ms
      box-sizing border-box
      &:hover,
      &:focus,
      $:active
        background-color $color-lightest
        color $color-purple
        box-shadow 0 10px 15px $color-action-shadow
        border-color $color-action

.tc-home-hero-star-action-container
  display flex
  align-items center
  justify-content center
  margin 20px 0 0

.tc-home-hero-star-action-list
  margin 0 0 0 10px
  padding 0
  list-style-type none
  li
    display inline-block
    width 30px
    height 30px
    background-size contain
    border-radius 15px
    overflow hidden
    text-indent -1000px
    & + li
      margin-left -12px
      white-space nowrap

.tc-home-hero-star-action-more
  position relative
  top -3px
  left 6px
  color $color-action
  font-weight bold

+breakpoint('sm')
  .tc-home-hero
    .tc-topbar-content
      justify-content center
    .tc-topbar-curve
      display block
      position absolute
      bottom 0
      right -150px
      width 150px
      height 150px
      path
        fill $color-lightest
  .tc-home-hero-content
    align-items center
    h1
      max-width 550px
      text-align center
  .tc-home-hero-primary-action
    &.tc-link
      max-width 180px
  .tc-home-hero-actions
    flex-direction row
    justify-content center
  .tc-home-hero-star-action-container
    align-items center
    margin 0 0 0 10px

+breakpoint('md')
  .tc-home-hero
    .tc-topbar-content
      justify-content flex-start
      padding 0
      height 150px
    .tc-logo
        img
          width 150px
  .tc-home-hero-content
    align-items flex-start
    padding 0
    height 450px
    h1
      max-width 670px
      font-size $font-size-xxl
      letter-spacing -1px
      text-align left
  .tc-home-hero-actions
    justify-content flex-start
