@require '_variables'
@require '_mixins'

.tc-topbar-content
  position relative
  display flex
  align-items center
  margin 0 auto
  padding 0 20px
  max-width 1200px
  height 75px
  box-sizing border-box
  .tc-menu
    margin-left 30px

.tc-topbar-menu-button
  position absolute
  top 50%
  right 20px
  transform translateY(-50%)
  &.t-button.t-button-lookless:focus
    border-bottom 0

.tc-topbar-curve
  display none
