@require '_variables'
@require '_mixins'

.tc-topbar-content
  position relative
  display flex
  align-items center
  margin 0 auto
  padding 0 20px
  max-width 1200px
  height 75px
  box-sizing border-box
  .tc-logo
    img
      width 100px

.tc-topbar-curve
  display none
