<div class="tc-home-hero">
  <tc-topbar />
  <div class="tc-home-hero-content">
    <h1>
      Set yourself free from the ordinary work to focus on the extraordinary one.
    </h1>
    <p>
      Taslonic makes <strong>form creation</strong> and <strong>data fetching</strong> really simple.
    </p>
    <div class="tc-home-hero-actions">
      <t-button tag="a" theme="primary" href="#learn-more">
        Learn more
      </t-button>
      <div class="tc-home-hero-star-action-container">
        <tc-link href="https://github.com/glorious-codes/glorious-taslonic/stargazers">
          Star
        </tc-link>
        <ul class="tc-home-hero-star-action-list">
          <li style="background-image: url(https://avatars.githubusercontent.com/u/398893?s=180)">
            Zeno Rocha
          </li>
          <li style="background-image: url(https://avatars.githubusercontent.com/u/16433547?s=180)">
            Toan Tran
          </li>
          <li style="background-image: url(https://avatars.githubusercontent.com/u/47697490?s=180)">
            Roman Shaon
          </li>
          <li style="background-image: url(https://avatars.githubusercontent.com/u/4245322?s=180)">
            Lucas Cunha
          </li>
        </ul>
        <div class="tc-home-hero-star-action-more">
          +
        </div>
      </div>
    </div>
    <div class="tc-home-hero-curve">
      <svg width="190px" height="450px" viewBox="0 0 190 450">
        <path d="M184.5,0c-22.4,0-49.8,15.8-61,35.2L27.6,201.3c-11.2,19.4-2,35.2,20.3,35.2h21c22.4,0,31.5,15.8,20.3,35.2L6.6,414.8C-4.6,434.2,4.6,450,27,450h163V0H184.5z"/>
      </svg>
    </div>
  </div>
</div>
