<tc-lazy-load>
  <ul class="tc-feature-card-list">
    <li>
      <tc-feature-card
        title="Lightful Docs"
        actionHref="https://components.taslonic.com/#!/components/react/alert"
        actionText="Live Demo"
        iconName="lamp">
        <p>
          Every property of every component detailed in crystal clear examples.
        </p>
      </tc-feature-card>
    </li>
    <li>
      <tc-feature-card
        title="Battle Tested"
        actionHref="https://coveralls.io/github/glorious-codes/glorious-taslonic"
        actionText="Full Report"
        iconName="scan">
        <p>
          Hundreads of automated tests to help you make very fast something that works very well.
        </p>
      </tc-feature-card>
    </li>
    <li>
      <tc-feature-card
        title="Open Source"
        actionHref="https://github.com/glorious-codes/glorious-taslonic"
        actionText="Github"
        iconName="locker">
        <p>
          Available under the MIT License. You can use it for any purpose and forever free.
        </p>
      </tc-feature-card>
    </li>
  </ul>
</tc-lazy-load>
