<tc-viewport>
  <tc-container size="sm">
    <t-row>
      <t-col>
        <h1>Installation</h1>
        <p>
          You can install Taslonic in your project either using a <strong>Package
          Manager</strong> or getting it directly from a <strong>CDN</strong>.
        </p>
      </t-col>
    </t-row>
    <t-row offset="6">
      <t-col>
        <h2>Package Manager</h2>
        <p>
          If you manage your project dependencies using a package manager
          (strongly recommended), you can install Taslonic using either <strong>
          NPM</strong> or <strong>Yarn</strong>:
        </p>
        <tc-code>
          npm install --save @glorious/taslonic
        </tc-code>
        <tc-code>
          yarn add @glorious/taslonic
        </tc-code>
      </t-col>
    </t-row>
    <t-row offset="3">
      <t-col>
        <h2>CDN</h2>
        <p>
          If you're not into package management or want to give Taslonic a
          quick try using a standalone HTML file, you can load it
          from a third-party CDN provider. There are two options: <strong>
          JS Deliver</strong> and <strong>UNPKG</strong>.
        </p>
      </t-col>
    </t-row>
  </tc-container>
  <tc-container>
    <t-row offset="3">
      <t-col>
        <tc-code lang="xml">
          &lt;link rel=&quot;stylesheet&quot; href=&quot;https://cdn.jsdelivr.net/npm/@glorious/taslonic/taslonic.css&quot;&gt;
          &lt;!-- Load one of the bundles below according the engine (react or vue) you are using in your project --&gt;
          &lt;script src=&quot;https://cdn.jsdelivr.net/npm/@glorious/taslonic/react/index.js&quot;&gt;&lt;/script&gt;
          &lt;script src=&quot;https://cdn.jsdelivr.net/npm/@glorious/taslonic/vue/index.js&quot;&gt;&lt;/script&gt;
        </tc-code>
        <tc-code lang="xml">
          &lt;link rel=&quot;stylesheet&quot; href=&quot;https://unpkg.com/@glorious/taslonic/taslonic.css&quot;&gt;
          &lt;!-- Load one of the bundles below according the engine (react or vue) you are using in your project --&gt;
          &lt;script src=&quot;https://unpkg.com/@glorious/taslonic/react/index.js&quot;&gt;&lt;/script&gt;
          &lt;script src=&quot;https://unpkg.com/@glorious/taslonic/vue/index.js&quot;&gt;&lt;/script&gt;
        </tc-code>
      </t-col>
    </t-row>
  </tc-container>
  <tc-container size="sm">
    <t-row offset="6">
      <t-col>
        <h2>You're ready!</h2>
        <p>
          Once the installation is complete, you're ready to start using
          Taslonic components.
        </p>
      </t-col>
    </t-row>
    <t-row>
      <t-col sm="4">
        <t-button
          tag="a"
          theme="primary"
          href="/vue"
          block>
          Vue Usage
        </t-button>
      </t-col>
      <t-col sm="4">
        <t-button
          tag="a"
          theme="primary"
          href="/react"
          block>
          React Usage
        </t-button>
      </t-col>
    </t-row>
  </tc-container>
</tc-viewport>
