<tc-viewport>
  <tc-container size="sm">
    <t-row>
      <t-col>
        <h1>Taslonic for React</h1>
        <p>
          <t-banner theme="warning">
            <b>For now, Taslonic has no support for React 18.</b>
          </t-banner>
        </p>
      </t-col>
    </t-row>
    <t-row offset="6">
      <t-col>
        <h2>Installation</h2>
        <p>
          Via <b>NPM</b>:
        </p>
        <tc-code>
          npm install --save @glorious/taslonic-react
        </tc-code>
        <p>
          Via <b>Yarn</b>:
        </p>
        <tc-code>
          yarn add @glorious/taslonic-react
        </tc-code>
      </t-col>
    </t-row>
    <t-row offset="6">
      <t-col>
        <h2>Usage</h2>
        <p>
          You can easily plug Taslonic into your React project. Taslonic
          integrates smoothly with projects manually configured or generated
          with Create React App.
        </p>
      </t-col>
    </t-row>
    <t-row offset="6">
      <t-col>
        <h3>Using CSS apart from JavaScript</h3>
        <p>
          In times where styled-components are a thing, importing CSS files can
          sound unusual. But, if you prefer to keep styles apart from your
          JavaScript, you can do it smoothly using Taslonic.
        </p>
        <p>
          Import the CSS in the file where you mount your application.
        </p>
        <tc-code lang="javascript">
          import '@glorious/taslonic-react/dist/taslonic.css';
          // All the other things your app needs

          ReactDOM.render( ... );
        </tc-code>
        <p>
          Then, import Taslonic components wherever you need them.
        </p>
        <tc-code lang="javascript">
          import React from 'react';
          import { Button, alert } from '@glorious/taslonic-react';

          export const MyComponent = () => {
            const handleClick = () => {
              alert.open({
                content: &lt;p&gt;I am an &lt;strong&gt;alert&lt;/strong&gt;.&lt;/p&gt;
              });
            };

            return (
              &lt;Button onClick={handleClick}&gt;
                Click Here
              &lt;Button&gt;
            );
          };
        </tc-code>
      </t-col>
    </t-row>
    <t-row offset="3">
      <t-col>
        <h3>Using JavaScript and CSS together</h3>
        <p>
          If you prefer to get rid of the CSS import declaration, Taslonic
          also contains a bundle with all styles included.
        </p>
        <tc-code lang="javascript">
          import React from 'react';
          import { Button, alert } from '@glorious/taslonic-react/dist/styled';

          export const MyComponent = () => {
            const handleClick = () => {
              alert.open({
                content: &lt;p&gt;I am an &lt;strong&gt;alert&lt;/strong&gt;.&lt;/p&gt;
              });
            };

            return (
              &lt;Button onClick={handleClick}&gt;
                Click Here
              &lt;Button&gt;
            );
          };
        </tc-code>
      </t-col>
    </t-row>
    <t-row offset="3">
      <t-col>
        <h3>Using Taslonic globally</h3>
        <p>
          If your project is not using ES6 modules or you want to give Taslonic
          a quick try, here is how you can use Taslonic globally.
        </p>
      </t-col>
    </t-row>
  </tc-container>
  <tc-container>
    <t-row offset="3">
      <t-col>
        <tc-code lang="xml">
          &lt;!DOCTYPE html&gt;
          &lt;html lang=&quot;en&quot;&gt;
            &lt;head&gt;
              &lt;meta charset=&quot;utf-8&quot;&gt;
              &lt;title&gt;Taslonic: Standalone React&lt;/title&gt;
              &lt;meta name=&quot;viewport&quot; content=&quot;width=device-width, initial-scale=1, maximum-scale=5&quot;&gt;
              &lt;link rel=&quot;stylesheet&quot; href=&quot;https://cdn.jsdelivr.net/npm/@glorious/taslonic-react/dist/taslonic.css&quot;&gt;
              &lt;script src=&quot;https://cdn.jsdelivr.net/npm/@babel/standalone@7.13.8/babel.min.js&quot;&gt;&lt;/script&gt;
              &lt;script src=&quot;https://cdn.jsdelivr.net/npm/react@16.14.0/umd/react.production.min.js&quot;&gt;&lt;/script&gt;
              &lt;script src=&quot;https://cdn.jsdelivr.net/npm/react-dom@16.14.0/umd/react-dom.production.min.js&quot;&gt;&lt;/script&gt;
              &lt;script src=&quot;https://cdn.jsdelivr.net/npm/@glorious/taslonic-react/dist/index.js&quot;&gt;&lt;/script&gt;
              &lt;style media=&quot;screen&quot;&gt;
                html, body {
                  font-family: Arial, sans-serif;
                }
              &lt;/style&gt;
            &lt;/head&gt;
            &lt;body&gt;
              &lt;div data-root&gt;&lt;/div&gt;
              &lt;script type=&quot;text/babel&quot;&gt;
                (function(){
                  const { Button, alert } = taslonicReact;

                  const Example = () => {
                    const openAlert = () => {
                      alert.open({ content: &lt;p>Great, it works!&lt;/p&gt; })
                    }

                    return (
                      &lt;Button onClick={openAlert}&gt;Click Here&lt;/Button&gt;
                    );
                  };

                  ReactDOM.render(&lt;Example /&gt;, document.querySelector('[data-root]'));
                }());
              &lt;/script&gt;
            &lt;/body&gt;
          &lt;/html&gt;
        </tc-code>
      </t-col>
    </t-row>
  </tc-container>
  <tc-container size="sm">
    <t-row offset="6">
      <t-col>
        <h2>Time to build something!</h2>
        <p>
          Now that you have plugged Taslonic in your project, you can inspect
          every component in detail by visiting the live documentation or dig
          a little deeper about Taslonic UI fundamentals.
        </p>
      </t-col>
    </t-row>
    <t-row>
      <t-col sm="4">
        <t-button
          tag="a"
          theme="primary"
          href="https://taslonic-docs.compilorama.com/#!/components/react/alert"
          target="_blank"
          rel="noopener"
          block>
          Live Documentation
        </t-button>
      </t-col>
      <t-col sm="4">
        <t-button
          tag="a"
          theme="secondary"
          href="/fundamentals"
          block>
          Fundamentals
        </t-button>
      </t-col>
    </t-row>
  </tc-container>
</tc-viewport>
